{
	"researchTree" : {
		"fu_tutorial" : {
			"tutorial_start" : {
				"icon" : "/items/currency/fuscienceresource.png",
				"position" : [0, 0],
				"children" : [  ],
				"price" : [ "stations", "power", "combat", "resources", "byos"],
				"unlocks" : [ ]
			},
			"stations" : {
				"icon" : "/objects/crafting/matterassembler/prototyper3icon.png",
				"position" : [0, 50],
				"children" : [  ],
				"price" : [ ],
				"unlocks" : [ ]
			},
			"power" : {
				"icon" : "/interface/statuses/energydrain.png",
				"position" : [50, 15],
				"children" : [  ],
				"price" : [ ],
				"unlocks" : [ ]
			},
			"combat" : {
				"icon" : "/objects/crafting/armory/armory1icon.png",
				"position" : [30, -40],
				"children" : [  ],
				"price" : [ ["armory",1] ],
				"unlocks" : [ ["ironore", 16], ["copperore", 16] ]
			},
			"resources" : {
				"icon" : "/interface/inventory/queen.png",
				"position" : [-30, -40],
				"children" : [  ],
				"price" : [ ],
				"unlocks" : [ ]
			},
			"byos" : {
				"icon" : "/objects/ship/fu_ftldrive/fu_ftldriveicon.png",
				"position" : [-50, 15],
				"children" : [  ],
				"price" : [ ],
				"unlocks" : [ ]
			}
		}
	},
	
	"acronyms" : {
		"fu_tutorial" : {

            "TUTORIAL_START" : "tutorial_start",
            "STATIONS" : "stations",
            "POWER" : "power",
            "COMBAT" : "combat",
            "RESOURCES" : "resources",
            "BYOS" : "byos"

		}
	},

	"strings" : {
		"currencies" : {},
		
		"trees" : {
			"fu_tutorial" : "[FU] Tutorial"
		},
		
		"research" : {
			"default"	: [ "Select a Quest","This tree is a little different to the others. Instead of spending research to unlock recipes, here nothing is spent and items are rewarded for unlocking nodes, with blueprints only rarely given.\n\nSelect a quest by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"tutorial_start"	: [ "Select a Quest","This tree is a little different to the others. Instead of spending research to unlock recipes, here nothing is spent and items are rewarded for unlocking nodes, with blueprints only rarely given.\n\nSelect a quest by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"stations"	: [ "Stations","Build" ],
			"power"	: [ "Power","Zap" ],
			"combat"	: [ "Combat","Fight" ],
			"resources"	: [ "Resources","Hoard" ],
			"byos"	: [ "BYOS","Flight" ]
		}
	},

	"cutsomGridTileImages":{ "fu_tutorial" : "/zb/researchTree/gridTileCyan.png" },

	"hiddenResearch" : {},

	"versions":{
		"fu_tutorial" : "1" //DO NOT INCREMENT. YOU WILL BREAK THINGS. IT DOESN'T MATTER IF YOU'RE CHANGING THE TREE.
	},
	"initiallyResearched" : {
		"fu_tutorial" : [ "TUTORIAL_START" ]
	},
	
	"currencies" : [],
	
	"customConsumptionRules" : {
		"fu_tutorial" : {"currency" : false, "items" : false } //Do not consume items or currency, including research.
	},
	
	"customOutputRules" : {
		"fu_tutorial" : {"blueprints" : false, "items" : true } //Do not give recipes, give items.
	},
	
    "treeIcons" : {
		"fu_tutorial" : "/items/currency/fuscienceresource.png"
    }
}
